.container {
    position: absolute;
    top: 4rem;
    left: 1rem;
    max-width: 270px;
    z-index: 1000;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Inter', sans-serif;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    color: #545F7D;
    gap: 6px;
}

input[type="date"] {
    height: 40px;
    padding: 0 16px;
    border: 1px solid #545F7D20;
    border-radius: 8px;
    background: #fff;
    font-size: 0.875rem;
    color: #21334F;
    outline: none;
}

input[type="date"]::placeholder {
    color: #545F7D99;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-top: 10px;

    button {
        flex: 1;
    }
}

.reset {
    border: 1px solid #545F7D;
    background-color: white;
    color: #545F7D;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.875rem;
    cursor: pointer;
}

.filter {
    background-color: #39CDCC;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 0.875rem;
    cursor: pointer;
}


