@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$primary-color: #ffffff;
$secondary-color: #39CDCC;
$text-primary-color: #213F7D;
$text-secondary-color: #545F7D;

// fonts
$font-stack: 'Avenir', 'Helvetica', 'Arial', sans-serif;
$font-work-sans: "Work Sans", sans-serif