@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$primary-color: #ffffff;
$secondary-color: #39CDCC;
$text-primary-color: #545F7D;
$text-secondary-color: #213F7D;

// font-size
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 32px;
$text-4xl: 36px;
$text-5xl: 40px;

// fonts
$font-stack: 'Avenir', 'Helvetica', 'Arial', sans-serif;
$font-work-sans: "Work Sans", sans-serif;

// SPACING
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-2xl: 40px;
$space-3xl: 64px;

// BORDER RADIUS
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-2xl: 24px;
$radius-full: 9999px;