@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.userContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 96px;

    .title {
        color: $text-secondary-color;
        font-weight: 500;
        font-size: $text-2xl;
        line-height: 100%;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 26px;

        @include breakpoint('xl') {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include breakpoint('lg') {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint('sm') {
            grid-template-columns: 1fr;
        }
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 130px);
}


