@use '../../../../../styles/abstracts/variables' as *;

.statsCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 160px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 3px 5px 20px #0000000A;

    padding: 20px 30px 30px;

    img {
        object-fit: contain;
    }

    h4 {
        margin-top: 14px;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: $text-sm;
        line-height: 100%;
        color: $text-primary-color;
        text-transform: uppercase;
    }

    span {
        font-weight: 600;
        font-size: $text-2xl;
        line-height: 100%;
        color: $text-secondary-color;
    }
}


