.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.98);
    }

    // &:focus {
    //     outline: 2px solid #00C2CB;
    //     outline-offset: 2px;
    // }
}


