.menuContainer {
    position: absolute;
    // top: 0;
    right: 10px;
    margin-top: 9rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 180px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.menuItem {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.95rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: #545F7D30;
    }
}

.menuItem:hover {
    background-color: #f2f2f2;
}


