@use '../abstracts/variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.15; // Improves readability
    -webkit-text-size-adjust: 100%; // Prevents iOS text size adjustment
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        cursor: grab;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #545f7d66;
        border-radius: 25px;
        cursor: grab;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(84, 95, 125, .1);
        background-color: #f5f5f5;
    }
}

body {
    font-family: $font-work-sans;
    line-height: 1.5;
    // color: #1A2E55;

}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


